body {
    color: #000000;
    font-family: avenir, helvetica, arial, sans-serif;
    letter-spacing: 0.15em;
}

hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
}

.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(20%, 1fr));
}

.bg--night {
  background-color: #444444;
  color: #ffffff;
}

.btn, .btn:link, .btn:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3em;
    border-style: solid;
    border-width: 1px;
    color: #111;
    font-family: avenir, helvetica, arial, sans-serif;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    padding: 1em 0.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s;
    transition: color 0.4s, background-color 0.4s, border 0.4s;
}

.btn:hover, .btn:focus {
    color: #7FDBFF;
    border: 1px solid #7FDBFF;
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn:active {
    color: #0074D9;
    border: 1px solid #0074D9;
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn--s {
    font-size: 12px;
}

.btn--m {
    font-size: 14px;
}

.btn--l {
    font-size: 20px;
    border-radius: 0.25em !important;
}

.btn--full, .btn--full:link {
    border-radius: 0.25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.btn--blue:link, .btn--blue:visited {
    color: #fff;
    background-color: #0074D9;
}
.btn--blue:hover, .btn--blue:focus {
    color: #fff !important;
    background-color: #0063aa;
    border-color: #0063aa;
}
.btn--blue:active {
    color: #fff;
    background-color: #001F3F;
    border-color: #001F3F;
}

.btn--red:link, .btn--red:visited {
    color: #fff;
    background-color: #f00000;
}
.btn--red:hover, .btn--red:focus {
    color: #fff !important;
    background-color: #ff0000;
    border-color: #ff0000;
}
.btn--red:active {
    color: #fff;
    background-color: #b70000;
    border-color: #b70000;
}

.btn--green:link, .btn--green:visited {
    color: #fff;
    background-color: #008A00;
}
.btn--green:hover, .btn--green:focus {
    color: #fff !important;
    background-color: #008000;
    border-color: #008000;
}
.btn--green:active {
    color: #fff;
    background-color: #004e00;
    border-color: #004e00;
}

.btn--yellow:link, .btn--yellow:visited {
    color: #fff;
    background-color: #F0B70A;
}
.btn--yellow:hover, .btn--yellow:focus {
    color: #fff !important;
    background-color: #FAD70A;
    border-color: #FAD70A;
}
.btn--yellow:active {
    color: #fff;
    background-color: #C0A400;
    border-color: #C0A400;
}

.btn--grey:link, .btn--grey:visited {
    color: #fff;
    background-color: #444444;
}
.btn--grey:hover, .btn--grey:focus {
    color: #fff !important;
    background-color: #666666;
    border-color: #666666;
}
.btn--grey:active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

table {
    margin: 5px;
}

th {
    background-color: #CCCCCC;
}


#keyboard .btn.hidden {
    /*! display: none; */
    visibility: hidden;
}
#keyboard .btn.selected {
    border: 4px solid #00ffae;
    /*  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20' font-family='avenir, helvetica, arial, sans-serif'>EDITING</text></svg>"); */
}

#editor.hidden {
  display: none;
}

.cmdList {
  display: none;
}

@media screen and (min-width: 32em) {
    .btn--full {
        max-width: 16em !important;
    }
}
